
@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>

<p>¿Aca Debería mostrarse Pagina principal con la informacion y la opcion de logueo o registro?  </p>
<h1>Página en contrucción</h1>